@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO SEAKNOW</h1>
    <p>
        This website general information will be given about information systems. The name of application will be “SeaKnow”. This name has been determined as the short form of the sea of knowledge.

        Considering the services and needs of businesses with many users,we know that there are various services that each organization provides to its employee, external users or customers on the internet. Within this framework,it can be listed the services such as file sharing, email, internet access, internal network controls, and web-based applications of employees working at these institutions. It would not be wrong to say that many technologies work together in these environments. The security weaknesses of operating systems and applications running on these systems threaten the entire organization’s security. For this reason, this study will give information abaout the weaknesses of systems in this research. Also SeaKnow will inform people in this field and create awareness for people. In addition, people who use SeaKnow will encounter new news on the home page every day. The content of these news will include many important topics such as information systems, artificial intelligene, big data, machine learning, deep learning. For example, how people should be procted from malicious software, how they will understand whether the e-mails coming to people are fake or not etc. Thanks to this information in SeaKnow, people will see how big role role information systems plays in our lives.
    </p>
</div>
